# Docker 
*.log
*.pid
*.sock
secrets/
*.secret
.env
.DS_Store

# code-server
.vscode/
.code-server/data/

# SSL
ssl/
*.pem
*.key

# nextcloud
nextcloud/html/data/
nextcloud/html/apps/
nextcloud/html/config/

# mariadb
mariadb/nextcloud/
mariadb/mysql/
mariadb/wikidb/

# Portainer 
portainer/data/

# Wiki.js logs and config
wikijs/logs/
wikijs/config.yml
wikijs/storage/
wikijs/config/
wikijs/data/
wikijs/backups/
*.sqlite
*.log

# Nginx
nginx/html
