# Docker 
*.log
*.pid
*.sock
secrets/
*.secret
.env
.DS_Store

# code-server
.vscode/
.code-server/

# SSL
ssl/
*.pem
*.key

# nextcloud
nextcloud/html/data/
nextcloud/html/apps/

# mariadb
mariadb/nextcloud/
mariadb/mysql/

# Portainer 
portainer/data/


